* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



$main-color :       #FFFFFF;
$grey:              #f3f3f3;
$terciary-color :   #FFFFFF;

$avalon :               'Avalon-Medium' , Arial, sans-serif;
$avalon-italique :      'Avalon-Medium-italique', Arial, sans-serif;
$avalon-demi:           'Avalon-Demi', Arial, sans-serif;
$avalon-bold:           'avalon-bold', Arial, sans-serif;
$avalon-bold-italique:  'Avalon-bold-italique', Arial, sans-serif;

@font-face {
 font-family: "avalon-bold";
 src: url("../font/Avalon-Bold.otf");
}

@font-face {
 font-family: "Avalon-Demi";
 src: url("../font/Avalon-Demi.otf");
}

@font-face {
 font-family: "Avalon-bold-italique";
 src: url("../font/Avalon-BoldOblique.otf") ;
}

@font-face {
 font-family: "Avalon-Medium";
 src: url("../font/Avalon-Medium.otf");
}

@font-face {
 font-family: "Avalon-Medium-italique";
 src: url("../font/Avalon-MediumOblique.otf") format("otf");
}
