@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

body.hidden-y {
    overflow-y: hidden;
}

main {
    max-width: 100%;
}

div.wrapper {}

div.wrap {}

span.strong {
    font-weight: 700;
}

.closed {
    display: none;
}

.open {
    display: block;
}


/* ->->->->->->->->->->->-> INDEX.HTML <-<-<-<-<-<-<-<-<-<-<- */


/* Nav menu (all pages) */

nav {
    height: 77px;
    width: 100%;
}

nav div {
    height: 77px;
    float: left;
}

nav>div:nth-of-type(1) {
    position: relative;
    width: 30%;
    float: left;
    background: #000;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    right: 1%;
}
nav>div:nth-of-type(1)>a{
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    display: block;
    width: 100%;
    height: 100%;

}
nav>div:nth-of-type(1)>a h1 {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 77px;
}

nav>div:nth-of-type(1)>a h1>img {
    display: block;
    width: 76%;
    height: 100%;
    height: 77px;
    margin: 0 auto;
    /*-webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);*/
}

nav div:nth-of-type(2) {
    width: 50%;
    position: relative;
    line-height: 77px;
}

nav div:nth-of-type(2) ul {
    position: absolute;
    width: 75%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav div:nth-of-type(2) ul li {
    width: 25%;
    font-size: 17px;
}

nav ul li {
    text-align: center;
}

nav ul li {
    float: left;
}

nav div:nth-of-type(3) {
    width: 20%;
    float: right;
}

nav div:nth-of-type(3) ul {
    padding-top: 10px;
}

nav div:nth-of-type(3) ul li {
    width: 50%;
    font-size: 17px;
}


/* End nav menu */

div.container {
    width: 100%;
    height: 115vh;
    padding: 0;
}

div.big-wrapper {
    position: relative;
    display: block;
    height: 85vh;
    width: 100%;
    padding: 0;
    background: rgba(0, 0, 0, 0.2) url(../img/img-1.png) no-repeat center center;
    background-size: 130% 85vh;
    background-position-y: 0;
    background-position-x: -70px;
}

div.big-wrapper:before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: ' ';
}

div.big-wrapper .wrapper {
    position: relative;
}

div.container .wrapper h2 {
    display: block;
    font-family: 'Lato';
    font-size: 50px;
    color: #000;
    padding-left: 2%;
}

div.container .wrapper h2 span {
    color: #fff;
}

div.wrapper .inner-wrapper {
    margin-top: 10%;
}

div.wrapper .inner-wrapper div.content {
    width: 40%;
    float: left;
    padding: 30px;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.8vw;
    font-weight: 300;
    color: #fff;
}

div.wrapper .inner-wrapper div.content h3 {
    text-transform: uppercase;
    font-weight: 300;
}

div.wrapper .inner-wrapper div.content p:nth-of-type(1) {
    margin: 50px 0;
}

div.wrapper .inner-wrapper div:nth-of-type(2) {
    width: 20%;
    float: right;
    margin: 10% 5% 0 0;
}

div.wrapper .inner-wrapper div:nth-of-type(2)>a {
    background: #fff;
    display: block;
    padding: 15px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

div.wrapper .inner-wrapper div:nth-of-type(2)>div>a {
    display: block;
    width: 100%;
}

div.wrapper .inner-wrapper div:nth-of-type(2)>div>a>img {
    display: block;
    width: 100%;
}

div.first-content {
    margin: 110px auto;
    width: 80%;
}

div.second-content {
    margin: 80px auto 0;
    width: 80%;
}

div.first-content .inner-wrapper {
    overflow: hidden;
}

div.wrapper-content .inner-wrapper>p {
    font-size: 24px;
}

div.wrapper-content .inner-wrapper>div p {
    font-size: 18px;
    line-height: 2;
}

div.wrapper-content .inner-wrapper>div p:nth-of-type(1) {
    margin: 0 0 30px 0;
}

div.wrapper-content .inner-wrapper ul {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

div.wrapper-content .inner-wrapper ul li {
    float: left;
    width: 20%;
    height: auto;
}

div.wrapper-content .inner-wrapper ul li:nth-of-type(2) {
    margin: 0 8%;
}

div.wrapper-content .inner-wrapper ul li a,
div.wrapper-content .inner-wrapper ul li a div,
div.wrapper-content .inner-wrapper ul li a div img {
    display: block;
    width: 100%;
}

div.wrapper-content .inner-wrapper ul li a div:nth-of-type(1) {
    position: relative;
}

div.wrapper-content .inner-wrapper ul li a>div {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.7;
    transition: 0.5s;
}

div.wrapper-content .inner-wrapper ul li a>div:hover {
    opacity: 1;
    transition: 0.5s;
}

div.wrapper-content .inner-wrapper ul li a>img {
    position: absolute;
    top: 0;
    left: 0;
}

div.actualites {
    width: 80%;
    margin: 80px auto 0;
    overflow: hidden;
}

div.actualites div:nth-of-type(1) {
    margin-bottom: 40px;
}

div.actualites div:nth-of-type(1) p,
div.actualites div:nth-of-type(1) a {
    display: block;
}

div.actualites div:nth-of-type(1) p {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

div.actualites div:nth-of-type(1) a {
    font-weight: 300;
    font-size: 18px;
}

div.actualites div:nth-of-type(2) ul {
    width: 100%;
}

div.actualites div:nth-of-type(2) ul li {
    float: left;
    width: 47%;
}

div.actualites div:nth-of-type(2) ul li:nth-of-type(2) {
    float: right;
}

div.actualites div:nth-of-type(2) ul li a,
div.actualites div:nth-of-type(2) ul li a img {
    display: block;
    width: 100%;
}

div.actualites div:nth-of-type(3) {
    width: 100%;
    margin-top: 80px;
}

div.actualites div:nth-of-type(3) img {
    display: block;
    width: 100%;
}

div.partenaires {
    width: 80%;
    margin: 50px auto 0;
}

div.partenaires>div {
    float: right;
    position: relative;
    width: 35%;
}

div.partenaires>div img {
    display: block;
    width: 100%;
    height: 100%;
}

div.partenaires a {
    display: block;
    background: #fff;
    padding: 15px 35px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

div.text {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 15px 20px;
    background: #fff;
}

div.history {
    width: 80%;
    margin: 0 auto;
}

div.history>p {
    display: block;
    margin: 0 0 30px 0;
    font-size: 24px;
}

div.history span.strong {
    font-weight: bold;
}

div.history>div {
    width: 40%;
}

div.history>div p {
    text-align: justify;
    font-size: 16px;
    line-height: 2;
}

div.history>div p:nth-of-type(2) {
    margin: 30px 0;
}


/* FOOTER */

footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 30px;
    background: #EEE;
}

footer div {
    float: left;
}

footer div:nth-of-type(1) {
    width: 30%;
}

footer div:nth-of-type(1) address {
    margin-left: 20%;
}

footer div:nth-of-type(2) {
    width: 40%;
}

footer div:nth-of-type(2)>div {
    width: 80%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

footer div:nth-of-type(2) p,
footer div:nth-of-type(2) input {
    text-align: center;
}

footer div:nth-of-type(2) p {
    font-size: 20px;
}
footer div:nth-of-type(2) p a{
}

footer div:nth-of-type(2) input {
    width: 100%;
    margin: 20px auto;
    height: 30px;
    display: block;
}

footer div:nth-of-type(3) {
    width: 30%;
}

footer div:nth-of-type(3) p {
    text-align: center;
    font-size: 20px;
}
/* End footer */

/* connexion */

main.connect {
    height: 100vh;
}

main.connect .mg-connect-form {
    position: relative;
    width: 100%;
    top: 0%;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.mg-connect-form>p {
    text-align: center;
    line-height: 2;
    margin: 0 0 70px 0;
    text-transform: uppercase;
    font-size: 22px;
}

.mg-connect-form form {
    width: 50%;
    margin: 0 auto;
    padding: 60px 80px 30px 80px;
    border: 1px solid;
}

.mg-connect-form .wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.mg-connect-form .wrapper:nth-of-type(1) {
    margin-bottom: 30px;
}

.mg-connect-form .wrapper label {
    width: 50%;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
}

.mg-connect-form .wrapper input {
    width: 49%;
    padding-left: 10px;
    background: #FAFAFA;
    border: 1px solid #ccc;
}

.mg-connect-form input[type="submit"] {
    display: block;
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 15px 0;
    width: 200px;
    text-align: center;
    background: #fff;
    margin: 40px auto 0;
}

main.connect footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 550px){
    main.connect .mg-connect-form{
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .mg-connect-form form{
        width: 90%;
        padding: 60px 20px 30px 20px;
    }
    main.connect .mg-connect-form .wrapper{
        width: 100%;
    }
    main.connect footer{
        position: relative;
    }
}



/* ->->->->->->->->->->->-> RESPONSIVE INDEX.HTML <-<-<-<-<-<-<-<-<-<-<- */


/* + responsive nav menu and footer */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    nav.row {
        margin: 0;
        height: auto;
    }
    nav div:nth-of-type(1) {
        display: block;
        float: none;
        width: 100%;
        margin: 0 auto;
        right: 0;
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
        overflow: hidden;
        background: #000;
    }
    nav div:nth-of-type(1) h1 {
        width: 50%;
        margin: 0 auto;
    }
    nav>div:nth-of-type(1)>a{
        -webkit-transform: skew(0deg) !important;
        -moz-transform: skew(0deg) !important;
        -ms-transform: skew(0deg) !important;
        -o-transform: skew(0deg) !important;
        transform: skew(0deg) !important;
    }
    nav div:nth-of-type(1) a h1 img {
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
        left: 0;
    }
    nav div:nth-of-type(2) {
        width: 70%;
    }
    nav div:nth-of-type(3) {
        width: 30%;
    }
    div.container {
        height: 80vh;
    }
    div.big-wrapper {
        height: 55vh;
    }
    div.big-wrapper .wrapper {
        position: relative;
        top: 20%;
    }
    div.container div.big-wrapper .wrapper {
        position: relative;
        top: 10%;
    }
    div.wrapper-content .inner-wrapper ul li a>div {
        opacity: 1;
        background: none;
    }
    div.first-content {
        margin: 0 auto;
    }
    main.connect .mg-connect-form form{
        width: 80%;
        padding: 60px 20px 30px 20px;
    }
}

@media screen and (max-width: 768px) {
    div.history>div {
        width: 100%;
    }
    div.container {
        height: 80vh;
    }
}

@media screen and (max-width: 550px) {
    nav.row {
        margin: 0;
        height: auto;
    }
    nav div:nth-of-type(1) {
        display: block;
        float: none;
        width: 100%;
        margin: 0 auto;
        right: 0;
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
        background: #000;
        overflow: hidden;
    }
    nav div:nth-of-type(1) h1 {
        width: 50%;
        margin: 0 auto;
    }
    nav div:nth-of-type(1) h1 img {
        -webkit-transform: skew(30deg);
        -ms-transform: skew(30deg);
        -o-transform: skew(30deg);
        transform: skew(30deg);
        left: 0;
    }
    nav div:nth-of-type(2) {
        width: 100%;
        float: none;
    }
    nav div:nth-of-type(2) ul {
        padding: 0;
        width: 90%;
    }
    nav div:nth-of-type(2) ul li{
        font-size: 17px;
    }
    nav div:nth-of-type(3) {
        width: 70%;
        margin: 0 auto;
        float: none;
        line-height: 60px;
    }
    nav div:nth-of-type(3) ul {
        padding: 0;
    }
    nav div:nth-of-type(3) ul li{
        font-size: 15px;
    }
    div.container {
        height: 190vh;
    }
    div.first-content {
        margin: 0 auto;
    }
    div.wrapper .inner-wrapper div.content {
        float: none;
        width: 90%;
        margin: 0 auto;
        font-size: 4vw;
    }
    div.wrapper .inner-wrapper div:nth-of-type(2) {
        float: none;
        width: 90%;
        margin: 20px auto;
    }
    div.wrapper .inner-wrapper div:nth-of-type(2)>a {
        background: #000;
        color: #fff;
    }
    div.inner-wrapper>ul li:nth-of-type(1) {
        margin: 0 auto;
        float: none;
        width: 90%;
    }
    div.inner-wrapper>ul li:nth-of-type(2),
    div.inner-wrapper>ul li:nth-of-type(3) {
        display: none;
    }
    div.actualites div:nth-of-type(2) ul li {
        float: none;
        width: 100%;
    }
    div.actualites div:nth-of-type(2) ul li:nth-of-type(2) {
        margin-top: 40px;
    }
    div.partenaires>div {
        width: 70%;
        margin: 0 15% 30px;
    }
    div.history>div {
        width: 100%;
    }
    footer div:nth-of-type(1),
    footer div:nth-of-type(2),
    footer div:nth-of-type(3) {
        float: none;
        width: 100%;
    }
    footer div:nth-of-type(1) address {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    footer div:nth-of-type(2) input {
        border: 1px solid #424242;
    }
    footer div:nth-of-type(2) p,
    footer div:nth-of-type(3) p {
        font-size: 16px;
    }
}


/* ->->->->->->->->->->->-> END RESPONSIVE INDEX.HTML <-<-<-<-<-<-<-<-<-<-<- */


/* ->->->->->->->->->->->-> PANIER-STEP-1.HTML <-<-<-<-<-<-<-<-<-<-<- */

section.os-p-step-1 {
    width: 38%;
    margin: 10% auto 0;
}
section.os-p-step-1 .os-empty-basket1 {
    margin-bottom: 5%;
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
}

section.os-p-step-1 .os-empty-basket1 span {
    font-weight: 700;
}

section.os-p-step-1 .os-empty-basket2 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

section.os-p-step-1 .os-connect,
section.os-p-step-1 .os-subscribe {
    display: block;
    margin: 10% 12%;
    padding: 5px 0;
    border: 1px solid #000;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

section.os-p-step-1 .os-connect {
    margin-top: 10%;
}

section.os-p-step-1 .os-connect:hover,
section.os-p-step-1 .os-connect:active {
    background: #000;
    color: #fff;
    transition: 0.8s;
}

section.os-p-step-1 .os-subscribe {
    margin-top: 3%;
    background: #000;
    color: #fff;
}

section.os-p-step-1 .os-subscribe:hover {
    background: #fff;
    color: #000;
    transition: 0.8s;
}


/* ->->->->->->->->->->->-> RESPONSIVE PANIER-STEP-1.HTML <-<-<-<-<-<-<-<-<-<-<- */

@media screen and (max-width: 768px) {
    section.os-p-step-1 .os-connect,
    section.os-p-step-1 .os-subscribe {
        width: 90%;
        margin: 10% auto 0;
        font-size: 2rem;
    }
}

@media screen and (max-width: 550px) {
    section.os-p-step-1 {
        width: 90%;
        font-size: 1.6rem;
    }
    section.os-p-step-1 .os-subscribe {
        margin-top: 5%;
    }
    section.os-p-step-1 .os-empty-basket1,
    section.os-p-step-1 .os-empty-basket2 {
        font-size: 2.4rem;
    }
    section.os-p-step-1 .os-connect,
    section.os-p-step-1 .os-subscribe {
        font-size: 1.7rem;
    }
}


/* ->->->->->->->->->->->-> PANIER-STEP-2.HTML <-<-<-<-<-<-<-<-<-<-<- */

section.p-step-2 {
    margin-top: 100px;
}

section.p-step-2 h2 {
    margin: 0 auto 100px;
    text-align: center;
    font-size: 24px;
}

section.p-step-2>div {
    max-width: 60%;
    margin: 0 auto;
}

section.p-step-2 div ul {
    width: 100%;
}

section.p-step-2 div ul li {
    width: 47%;
    float: left;
}

section.p-step-2 div ul li:nth-of-type(1) img {
    display: block;
    width: 100%;
}

section.p-step-2 div ul li:nth-of-type(2) {
    float: right;
}

section.p-step-2 form {
    font-weight: 300;
}

section.p-step-2 form .wrap-form {
    width: 100%;
    padding: 20px 0 20px 20px;
}

section.p-step-2 form .wrap-form label {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
}

section.p-step-2 .wrap-form:nth-of-type(1) div:nth-of-type(1),
section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(1),
section.p-step-2 .wrap-form:nth-of-type(3) div:nth-of-type(1),
section.p-step-2 .wrap-form:nth-of-type(4) div:nth-of-type(1) {
    float: left;
    width: 50%;
}

section.p-step-2 .wrap-form:nth-of-type(1) div:nth-of-type(2),
section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(2),
section.p-step-2 .wrap-form:nth-of-type(3) div:nth-of-type(2),
section.p-step-2 .wrap-form:nth-of-type(4) div:nth-of-type(2) {
    float: right;
    width: 50%;
    text-align: center;
}

section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(2) p.minus,
section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(2) p.plus,
section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(2) div {
    width: 33%;
    float: left;
    text-align: center;
}

section.p-step-2 .wrap-form:last-of-type img {
    display: block;
    margin: 0 auto;
}

section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(2) p.plus {
    text-align: left;
    cursor: pointer;
}

section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(2) p.minus {
    text-align: right;
    cursor: pointer;
}

section.p-step-2 .wrap-form:nth-of-type(2) div:nth-of-type(2) div input {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

section.p-step-2 input[type="submit"] {
    background: #00AA5B;
    border: none;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #fff;
    letter-spacing: 2.5px;
    display: block;
}

section.p-step-2 .wrap-form:nth-child(even) {
    margin: 30px auto;
    font-size: 18px;
}


/* RESPONSIVE PANIER-STEP-2.HTML */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    section.p-step-2>div {
        max-width: 95%;
    }
}

@media screen and (max-width: 550px) {
    section.p-step-2>div {
        max-width: 95%;
    }
    section.p-step-2>div ul li {
        float: none;
        width: 100%;
    }
    section.p-step-2>div ul li:nth-of-type(1) {
        max-width: 70%;
        margin: 0 auto 40px;
    }
}


/* FIN RESPONSIVE PANIER-STEP-2.HTML */


/* ->->->->->->->->->->->-> FIN PANIER-STEP-2.HTML <-<-<-<-<-<-<-<-<-<-<- */


/* ->->->->->->->->->->->-> CATALOGUE.HTML <-<-<-<-<-<-<-<-<-<-<- */

.os-catalogue-title {
    margin: 2% 10%;
    font-size: 3rem;
    font-weight: 300;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5%;
}

.os-catalogue-title span {
    font-weight: 700;
}


/* Grille des revues*/

.os-catalogue {
    width: 100%;
    margin: 0 auto;
}

div.os-catalogue {
    margin: 30px auto;
}

.os-catalogue article {
    width: 22.7%;
    float: left;
}

.os-catalogue article:nth-child(4n+1) {
    clear: both;
}

.os-catalogue article:nth-child(4n) {
    margin-right: 0 !important;
}

.os-catalogue article:nth-child(even) {
    margin: 0 3%;
}

.os-catalogue article div.os-img img {
    display: block;
    width: 100%;
}

.os-catalogue .os-wrapper {
    width: 80%;
    margin: 0 auto;
}

.os-title-h5 .os-revue-nb {
    color: #57C7D6;
}

div.os-btn {
    margin: 20px 0;
}

div.os-btn div:nth-of-type(1) {
    float: left;
    width: 60%;
    font-size: 16px;
}

div.os-btn-add {
    width: 40%;
    float: right;
}

div.os-btn div:nth-of-type(3) {
    line-height: 35px;
}
div.os-btn div:nth-of-type(3) a{
    display: block;
    text-decoration: none;
}
div.os-btn-add p {
    float: left;
    width: 33.33%;
    font-weight: 900;
    line-height: 35px;
    text-align: center;
    padding: 0;
}

p.os-minus,
p.os-plus {
    /*border: 1px solid #000;*/
    background: #cfd8dc;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

p.os-basket-nb {
    padding: 0 12%;
}

.os-wrapper article button {
    border: none;
    background: #cfd8dc;
    text-align: center;
    padding: 5px 45px;
    display: block;
    margin: 50px auto;
    /*border: 1px solid #000;*/
    font-size: 1.5rem;
    text-decoration: none;
    /*padding-top: 2%;
    padding-bottom: 2%;*/
    text-transform: uppercase;
    transition: 0.5s;
}

.os-wrapper article button:hover {
    background: #546e7a;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
}

.os-wrapper .os-title-h3 {
    text-align: center;
}

.os-more-revue {
    width: 100%;
}

.os-more-revue a {
    display: block;
    width: 20%;
    text-align: center;
    font-size: 1.6rem;
    text-decoration: none;
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

.os-more-revue a:hover {
    background: #fff;
    color: #000;
}


/* Filtre des régions */

.os-filter-title {
    margin: 0 10%;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5%;
    font-size: 3rem;
    font-weight: 300;
    color: #000;
}

.os-filter-title span {
    font-weight: 700;
}

.os-catalogue-filter {
    margin-top: 2%;
    width: 80%;
    margin: 0 auto;
}

.os-regions-detail {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 5% 0 2% 0;
}

.os-catalogue-filter .os-metropole {
    width: 100%;
}

.os-catalogue-filter .zone div {
    float: left;
    width: 25%;
    text-align: center;
    margin: 0.5% 0;
}

.os-catalogue-filter a {
    margin: 2% 2%;
    padding: 3%;
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 4.5rem;
}

.os-catalogue-filter a:hover {
    background: #546e7a;
    color: #fff;
    transition: 0.8s;
}


/* ->->->->->->->->->->->-> RESPONSIVE CATALOGUE.HTML <-<-<-<-<-<-<-<-<-<-<- */

@media screen and (max-width: 768px) {
    .os-wrapper article {
        width: 45%;
    }
    .os-regions-detail {
        text-align: center;
        margin-top: 9%;
    }
    .os-catalogue article:nth-child(even),
    .os-catalogue article:nth-child(odd) {
        margin: 2%;
    }
    .os-minus,
    .os-plus {
        background: #bbb;
    }
    .os-catalogue-filter .zone div {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .os-catalogue .os-wrapper {
        width: 85%;
    }
    .os-wrapper article {
        width: 96%;
    }
    .os-regions-detail {
        text-align: center;
        margin-top: 9%;
    }
    .os-catalogue article:nth-child(even),
    .os-catalogue article:nth-child(odd) {
        margin: 2%;
    }
    .os-minus,
    .os-plus {
        background: #bbb;
    }
    .os-catalogue-filter .zone div {
        width: 100%;
    }
}


/* ->->->->->->->->->->->-> NEW-ACCOUNT.HTML <-<-<-<-<-<-<-<-<-<-<- */

section.new-a {
    max-width: 100%;
    margin-top: 150px;
}

section.new-a:nth-of-type(2) {
    margin-top: 0;
    overflow: hidden;
}

.mg-first-step {
    width: 100%;
}

.mg-first-step .wrap {
    width: 90%;
    margin: 0 auto;
}

.mg-first-step .inner-wrap>h2 {
    display: inline-block;
    border: 1px solid #000;
    padding: 15px;
    position: absolute;
    top: -50px;
    left: -80px;
    border: 1px solid #000;
    padding: 15px;
    background: #fff;
    z-index: 2;
}

.mg-first-step .wrap .inner-wrap {
    width: 70%;
    position: relative;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: content-box;
    padding: 100px;
}

.mg-first-step .wrap .inner-wrap div.info {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2;
    font-size: 20px;
}

.mg-first-step .wrap .inner-wrap p {
    text-align: center;
}

.wrap-left {
    float: left;
    width: 50%;
}

.wrap-right {
    float: right;
    width: 50%;
}

.form-wrap input,
.form-wrap label {
    display: block;
}

.form-wrap label {
    text-transform: uppercase;
    font-weight: 300;
}

.wrap-left .form-wrap label {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.wrap-left .form-wrap input {
    width: 80%;
    margin: 0 auto;
    background: #FAFAFA;
    border: 1px solid #ccc;
}

.wrap-right .form-wrap label {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.wrap-right .form-wrap input {
    width: 80%;
    margin: 0 auto;
    background: #FAFAFA;
    border: 1px solid #ccc;
}

main.new-a hr {
    width: 80%;
    margin: 50px auto;
    height: 1px;
    border: none;
    background: #000;
}

.mg-second-step {
    width: 70%;
    margin: 0 auto;
}

.mg-second-step label,
.mg-second-step input {
    display: block;
    font-weight: 300;
}

.mg-second-step input {
    background: #FAFAFA;
    border: 1px solid #ccc;
}

.mg-second-step .wrapper:nth-of-type(1) {}

.mg-second-step .wrapper:nth-of-type(1) .form-wrap {
    width: 50%;
    float: left;
}

.mg-second-step .wrapper:nth-of-type(1) .form-wrap input {
    width: 70%;
}

.mg-second-step .wrapper:nth-of-type(2) {
    margin: 30px 0;
}

.mg-second-step .wrapper:nth-of-type(2) .form-wrap {
    width: 100%;
}

.mg-second-step .wrapper:nth-of-type(2) .form-wrap input {
    width: 85%;
}

.mg-second-step .wrapper:nth-of-type(3) {
    width: 50%;
}

.mg-second-step .wrapper:nth-of-type(3) .form-wrap {
    width: 100%;
}

.mg-second-step .wrapper:nth-of-type(3) .form-wrap:nth-child(even) {
    margin: 30px 0;
}

.mg-second-step .wrapper:nth-of-type(3) .form-wrap input {
    width: 100%;
}

main.new-a div.submit {
    margin: 40px auto 0;
    width: 250px;
}

main.new-a div.submit>a {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    padding: 15px 45px;
    text-transform: uppercase;
}


/* RESPONSIVE NEW-ACCOUNT.HTML */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .mg-first-step .inner-wrap>h4 {
        left: -30px;
    }
}

@media screen and (max-width: 550px) {
    section.new-a {
        margin-top: 0;
    }
    .mg-first-step .inner-wrap>h2 {
        position: relative;
        top: auto;
        left: auto;
        display: block;
        text-align: center;
    }
    .mg-first-step .wrap .inner-wrap {
        box-sizing: border-box;
        border: none;
        padding: 0;
        width: 100%;
    }
    .mg-first-step .wrap .inner-wrap div.info {
        position: relative;
    }
    .wrap-left,
    .wrap-right {
        float: none;
        width: 100%;
    }
    .wrap-left .form-wrap input,
    .wrap-right .form-wrap input {
        width: 90%;
    }
    .mg-second-step {
        width: 80%;
    }
    .mg-second-step .wrapper:nth-of-type(1) .form-wrap {
        display: block;
        width: 100%;
    }
    .mg-second-step .wrapper:nth-of-type(1) .form-wrap:nth-of-type(1) {
        margin-bottom: 30px;
    }
    .mg-second-step .wrapper:nth-of-type(3) {
        width: 100%;
    }
    .mg-second-step .wrapper:nth-of-type(1) .form-wrap input,
    .mg-second-step .wrapper:nth-of-type(2) .form-wrap input,
    .mg-second-step .wrapper:nth-of-type(3) .form-wrap input {
        width: 100%;
    }
}


/* ->->->->->->->->->->->-> REGIONS.HTML <-<-<-<-<-<-<-<-<-<-<- */

main.mg-regions div.partenaires>div {
    width: 100%;
}

.mg-regions .wrapper {
    width: 80%;
    margin: 70px 0 0 20%;
}

.mg-regions .wrapper .list-regions {}

main.mg-regions .wrapper .list-regions,
main.mg-regions .wrapper div:nth-of-type(2) {
    width: 50%;
    float: left;
    height: 80vh;
}

.mg-regions .wrapper .list-regions>div:nth-of-type(1) {
    margin-bottom: 100px;
    font-size: 36px;
}

.list-regions>div:nth-of-type(1)>div {
    background: #000;
    position: absolute;
    display: inline-block;
    width: 40%;
    left: 0;
    padding: 0 0 20px 20%;
}

.list-regions>div:nth-of-type(1)>div {
    color: #fff;
}

.mg-regions .wrapper .list-regions>div:nth-of-type(1) p {
    margin: 0;
}

.mg-regions .wrapper div:nth-of-type(2) img {
    display: block;
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.list-city ul li {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
}


/* ->->->->->->->->->->->-> FIN REGIONS.HTML <-<-<-<-<-<-<-<-<-<-<- */


/* ->->->->->->->->->->->-> PARTENAIRES.HTML <-<-<-<-<-<-<-<-<-<-<- */

.partenaires h4 {
    display: inline-block;
    background: #000;
    line-height: 3;
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    padding: 0 30px;
    text-align: center;
}
main.partenaires div.partenaires>div{
    width: 100%;
}
.partenaires .partners li {
    line-height: 1.5;
    font-size: 16px;
}
main.partenaires div.partenaires{
    overflow: hidden;
}
main.partenaires div.partenaires a{
    position: relative;
    padding: 0;
    line-height: 2;
}
.partenaires .mg-title-list {
    text-transform: uppercase;
    line-height: 2;
    font-size: 17px;
    margin: 10px 0;
}

main.partenaires .mg-regions .wrapper .list-regions,
main.partenaires .mg-regions .wrapper div:nth-of-type(2) {
    height: auto;
    float: left;
    width: 50%;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {}

@media screen and (max-width: 768px) {
    main.mg-regions .wrapper .list-regions,
    main.mg-regions .wrapper div:nth-of-type(2) {
        float: none;
        width: 100%;
        height: auto;
    }
    main.mg-regions .wrapper div:nth-of-type(2) {
        margin-top: 50px;
    }
    main.mg-regions .wrapper div:nth-of-type(2) img {
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    main.partenaires .mg-regions .wrapper .list-regions,
    main.partenaires .mg-regions .wrapper div:nth-of-type(2) {
        float: none;
        width: 100%;
    }
    main.partenaires .mg-regions .wrapper div:nth-of-type(2) {
        margin-top: 50px;
    }
}

@media screen and (max-width: 550px) {
    main.mg-regions .wrapper .list-regions,
    main.mg-regions .wrapper div:nth-of-type(2) {
        float: none;
        width: 100%;
        height: auto;
    }
    main.mg-regions .wrapper div:nth-of-type(2) {
        margin-top: 50px;
    }
    main.mg-regions .wrapper div:nth-of-type(2) img {
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .mg-regions .wrapper {
        width: 90%;
        margin: 70px 0 0 10%;
    }
    .list-regions>div:nth-of-type(1)>div {
        padding: 0 0 20px 10%;
    }
    .list-regions>div:nth-of-type(1)>div {
        width: 60%;
    }
    main.partenaires .mg-regions .wrapper .list-regions,
    main.partenaires .mg-regions .wrapper div:nth-of-type(2) {
        float: none;
        width: 100%;
    }
    main.partenaires .mg-regions .wrapper div:nth-of-type(2) {
        margin-top: 50px;
    }
}


/* ->->->->->->->->->->->-> FIN PARTENAIRES.HTML <-<-<-<-<-<-<-<-<-<-<- */


/* ->->->->->->->->->->->-> PARTENAIRE.HTML <-<-<-<-<-<-<-<-<-<-<- */

.os-partners-title {
    margin: 5% 10%;
    font-size: 2.5rem;
    font-weight: 300;
}

.iframe-responsive-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 700px;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.os-partners-title span {
    font-weight: 700;
}


/* ->->->->->->->->->->->-> ACTUALITES <-<-<-<-<-<-<-<-<-<-<- */

.ag-actu-main {
    position: relative;
    height: 90vh;
}

.ag-h2 {
    width: 60%;
    margin-top: 5%;
    padding: 2%;
    line-height: 120%;
    letter-spacing: 3px;
    background: #bcbcbc;
    color: #242424;
    font-size: 30px;
}

span.ag-archi-titre {
    color: #fff;
}

.ag-actu1 {
    position: absolute;
    width: 43vh;
    bottom: 5vh;
    left: 20%;
    opacity: 0.9;
}

.ag-actu1 figure {
    position: relative;
}

.ag-actu1 figure:hover,
.ag-actu2 figure:hover {
    opacity: 0.8;
}

.ag-actu1 figure img {
    width: 100%;
}

.ag-actu1 figure figcaption,
.ag-actu2 figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;
    padding: 3%;
    background: #000;
    opacity: 0.5;
    color: #fff;
}

.ag-actu2 {
    position: absolute;
    width: 35vw;
    bottom: 5vh;
    right: 10%;
}

.ag-actu2 figure img {
    width: 100%;
}

.ag-actu-second {
    position: relative;
    height: 250px;
    margin-bottom: 2%;
}

.ag-actu-second .ag-black-stick {
    z-index: 1;
    margin: 12% 0;
    height: 50px;
    background: #000;
}

.ag-actu-second .ag-on-black figure {
    position: absolute;
    z-index: 2;
    top: -45%;
    right: 5%;
    width: 650px;
}

.ag-actu-second .ag-on-black figure img {
    width: 100%;
}

.ag-actu-second .ag-on-black figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    overflow: hidden; 
    padding: 3%;
    background: #000;
    opacity: 0.5;
    color: #fff;
}

.ag-actu-second .ag-on-black figure:hover {
    opacity: 0.7;
}

div.ag-actu-row ul {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

div.ag-actu-row ul li figure {
    position: relative;
    width: 25vw;
}

div.ag-actu-row ul li figure img {
    width: 100%;
}

div.ag-actu-row ul li figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;
    padding: 3%;
    background: #000;
    opacity: 0.5;
    color: #fff;
}

div.ag-actu-row ul li figure:hover {
    opacity: 0.8;
}


/* RESPONSIVE ACTUALITES.HTML */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .ag-actu-main {
        height: auto;
        margin-bottom: 10%;
    }
    .ag-h2 {
        width: 100%;
        margin-top: 0;
        font-size: 16px;
        text-align: center;
    }
    .ag-actu1 {
        position: relative;
        float: left;
        top: 2vh;
        left: 15vw;
        width: 30vw;
    }
    .ag-actu2 {
        position: relative;
        float: right;
        top: 10vh;
        right: 15vw;
        width: 30vw;
    }
    .ag-actu-second .ag-black-stick {
        margin: 25% 0;
    }
    .ag-actu-second img {
        right: 7%;
    }
}

@media screen and (max-width: 550px) {
    .ag-actu-main {
        height: auto;
        margin-bottom: 10%;
    }
    .ag-h2 {
        width: 100%;
        margin-top: 0;
        font-size: 16px;
        text-align: center;
    }
    .ag-actu1 {
        position: relative;
        float: left;
        top: 2vh;
        left: 15vw;
        width: 30vw;
    }
    .ag-actu2 {
        position: relative;
        float: right;
        top: 7vh;
        right: 15vw;
        width: 30vw;
    }
    .ag-actu1 figure figcaption,
    .ag-actu2 figure figcaption {
        padding: 0 2%;
        font-size: 12px;
    }
    .ag-actu-second {
        position: relative;
        height: 25vh;
        margin-bottom: 2%;
    }
    .ag-actu-second .ag-black-stick {
        display: none;
    }
    .ag-actu-second .ag-on-black figure {
        position: relative;
        top: 0;
        left: 15vw;
        width: 70vw;
    }
    .ag-actu-second .ag-on-black figure figcaption {
        padding: 0 2%;
        font-size: 12px;
    }
    div.ag-actu-row li:nth-of-type(3) {
        display: none;
    }
    div.ag-actu-row ul li figure figcaption {
        padding: 0 2%;
        font-size: 12px;
    }
}
